[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
passlib = "*"
psycopg2 = "*"
autopep8 = "*"
flask-jwt-extended = "==3.25.0"
python-dotenv = "*"
gunicorn = "*"
stripe = "*"
flask-migrate = "*"

[dev-packages]

[requires]
python_version = "3.7"
